.signup-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.signup-main-container .from_control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.signup-main-container .social-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-container a {
    text-decoration: none;
    color: black;
    border: 1px solid gainsboro;
    border-radius: 50%;
    padding: 10px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}