.order-item-card-main {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    padding: 10px 0px;
}

.order-item-detail{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.order-item-detail .order-product-color , .order-item-detail.order-product-size{
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-item-detail .order-product-name{
    font-size: 17px;
    font-weight: 400;
}
.order-item-content {
    display: flex;
    flex: 1;
    margin: 20px 0px;
}

.order-item-detail .order-item-desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.order-item-content .order-item-subtotal {
    flex: 1;
    display: flex;
    justify-content: right;
}

.order-item-content .order-item-quantity {
    flex: 1;
    display: flex;
    justify-content: right;
}
.order-item-quantity .order-quantity-manage{
    display: flex;
    gap: 10px;
}

@media (max-width:650px) {
    .order-item-content {
        flex-direction: column;
        gap: 20px;
    }
    .order-item-content .order-item-subtotal,
    .order-item-content .order-item-quantity {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:350px) {
    .order-item-card-main {
        flex-direction: column;
    }
    .order-item-content {
        align-items: center;
    }
    .order-item-detail{
        justify-content: center;
    }
}

@media (max-width:285px) {
    .order-item-content .order-item-subtotal,
    .order-item-content .order-item-quantity {
        flex-direction: column;
    }
}