.cart-item-card-main {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    padding: 10px 0px;
}

.cart-item-detail{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.cart-item-content {
    display: flex;
    flex: 1;
    margin: 20px 0px;
}

.cart-item-detail .cart-item-desc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cart-item-content .cart-item-subtotal {
    flex: 1;
}

.cart-item-content .cart-item-quantity {
    flex: 1;
}
.cart-item-quantity .cart-quantity-manage{
    display: flex;
    align-items: center;
    gap: 10px;
}


@media (max-width:650px) {
    .cart-item-content {
        flex-direction: column;
        gap: 20px;
    }
    .cart-item-content .cart-item-subtotal,
    .cart-item-content .cart-item-quantity {
        display: flex;
        gap: 13px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:550px) {
    .cart-item-content .cart-item-quantity {
        flex-direction: column;
    }

}

@media (max-width:350px) {
    .cart-item-card-main {
        flex-direction: column;
    }
    .cart-item-content {
        align-items: center;
    }
    .cart-item-detail{
        justify-content: center;
    }
}

@media (max-width:285px) {
    .cart-item-content .cart-item-subtotal,
    .cart-item-content .cart-item-quantity {
        flex-direction: column;
    }
}