.card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.card-container:hover{
    box-shadow: 5px 5px 10px 5px #dcdcdc;
    cursor: pointer;
}

.card-container img {
    height: 60%;
    width: 80%;
}

.card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 25px 35px 25px;
}

.card-content h5 {
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1;
    text-align: center;
}

.product-price {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-content p {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
}

.product-price h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
}