.best-seller-product-main {
    max-width: 1440px;
    margin: auto;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    padding: 48px 0px;
}

.product-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(243px, 350px));
    row-gap: 30px;
    /* column-gap: 10px; */
    margin: auto;
    justify-content: center;
}

.best-seller-product-heading h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: Left;
    color: #252B42;
}