.card {
    position: relative;
}

.card img {
    width: 100%;
}

.card .label {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: aliceblue;
    height: 40px;
    width: 99px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}