.carousel-container{
    display: flex;
    max-width: 1440px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    align-items: center;
}

.carousel-container .arrow{
    position: absolute;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    color: white;
    z-index: 2;
}

.carousel-container .left-chevron{
    left:0;
}
.carousel-container .right-chevron{
    right:0
}

.slide{
    width: 100%;
    height: 100%;
}