.btn {
    width: fit-content;
    padding: 2% 5%;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

.head3{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-align: center;
}

/* solid green button */
.solidGreenBtn {
    background-color: #2DC071;
    border: 1px solid #2DC071;
}

.solidGreenBtn h3 {
    color: #ffffff;
}

.outlineGreenBtn {
    background-color: transparent;
    border: 1px solid #2DC071;
}

.outlineGreenBtn h3 {
    color: #2DC071;
}

/* solid blue button */
.solidBlueBtn {
    background-color: #23A6F0;
    border: 1px solid #23A6F0;
}

.solidBlueBtn h3 {
    color: #ffffff;
}


.outlineBlueBtn {
    background-color: transparent;
    border: 1px solid #ffffff;
}

.outlineBlueBtn h3 {
    color: #ffffff;
}

@media (max-width:768px) {

    .solid-btn,
    .outline-btn {
        width: 100px;
        height: 30px;
        padding: 0;
    }

    .solid-btn h3,
    .outline-btn h3 {
        font-size: small;
    }
}