.btn {
    width: fit-content;
    padding: 17px 20px;
    border-radius: 10px;
    gap: 10px;
    cursor: pointer;
}

.head3{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-align: center;
}

.primaryBtn {
    background-color: #2DC071;
    border: 1px solid #2DC071;
}

.primaryBtn h3 {
    color: #ffffff;
}


.secondaryBtn {
    background-color: transparent;
    border: 1px solid #2DC071;
}

.secondaryBtn h3 {
    color: #2DC071;
}

@media (max-width:768px) {

    .primary-btn,
    .secondary-btn {
        width: 100px;
        height: 30px;
        padding: 0;
    }

    .primary-btn h3,
    .secondary-btn h3 {
        font-size: small;
    }
}