.work-with-us-main {
    max-width: 1440px;
    margin: auto;
    padding-bottom: 80px;
}

.work-with-us-main .work-with-us-main-inner {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.work-with-us-main-inner .work-with-us-content {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #2A7CC7;
}

.work-with-us-main-inner .work-with-us-content .work-with-us-inner-content {
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.work-with-us-main-inner .work-with-us-content .work-with-us-inner-content h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;

}

.work-with-us-main-inner .work-with-us-content .work-with-us-inner-content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;

}

.work-with-us-main-inner .work-with-us-content .work-with-us-inner-content p {
    max-width: 440px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    
}

.work-with-us-main-inner .hero-img .work-with-us-img{
    width: 100%;
    height: 100%;
}

@media (max-width:570px) {
    .work-with-us-main .work-with-us-main-inner{
        grid-template-columns: repeat(1,auto);
    }

    .work-with-us-main-inner .work-with-us-content .work-with-us-inner-content{
        align-items: center;
    }
    .work-with-us-main-inner .work-with-us-content .work-with-us-inner-content h5,
    .work-with-us-main-inner .work-with-us-content .work-with-us-inner-content h2,
    .work-with-us-main-inner .work-with-us-content .work-with-us-inner-content p{
        text-align: center;
    }
    .work-with-us-main-inner .hero-img{
        display: none;
    }
}