/* .footer-main-container {
    max-width: 1440px;
    margin: auto;
} */

/* .footer-main-container .footer-container {
    max-width: 1440px;
    margin: auto;
} */

.footer-logo{
    background-color: #FAFAFA;
}
.footer-logo-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 40px;
}

 .footer-logo-social  .social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: #23A6F0;
}

.footer-main-section {
    padding: 50px 0px;
}

.footer-main-section .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0px 40px;
}

.footer-main-section .footer-content .footer-cols {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-main-section .footer-content .footer-cols h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #252B42;
}

.footer-main-section .footer-content .footer-cols .col-inner {
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer-main-section .footer-content .footer-cols .col-inner a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #737373;
}

.footer-input button {
    background-color: #23A6F0;
    color: white;
}

.TC {
    background-color: #FAFAFA;
    padding: 25px 40px;
}

.footer-inner{
    max-width: 1440px;
    margin: auto;
}
.TC .TC-inner .made-width {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #737373;
}